.container {
    padding: 20px;
    background: linear-gradient(45deg, #1a1a1a, #121212);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.heading {
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: var(--neon-shadow);
    margin-bottom: 20px;
    animation: neonFlicker 2s infinite alternate;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin-bottom: 15px;
}

.paragraph:nth-child(odd) {
    animation-delay: 0.5s;
}

.paragraph:nth-child(even) {
    animation-delay: 1s;
}

.paragraph:last-child {
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.paragraph:last-child:hover {
    color: var(--bs-form-valid-border-color);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .heading {
        font-size: 1.2rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}

@keyframes neonFlicker {
    0%,
    100% {
        text-shadow: var(--neon-shadow);
    }
    50% {
        text-shadow: 0 0 15px var(--primary-color), 0 0 30px var(--primary-color), 0 0 60px var(--primary-color);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
