/* src/CodeEditor.css */

.code-editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Стили для результата выполнения кода */
pre {
    background-color: #1e1e1e; /* Темный фон для результата */
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
    font-family: 'Courier New', monospace;
    color: #00ff00; /* Зеленый цвет текста */
}

/* Стили для AppBar */
.MuiAppBar-root {
    box-shadow: none;
    background-color: #2d2d2d; /* Цвет фона AppBar */
}

/* Стили для заголовка редактора */
.editor-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Стили для заголовка редактора */
.editor-header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #00ff00; /* Зеленый цвет текста заголовка */
}

/* Стили для кнопок в заголовке редактора */
.editor-header button {
    margin-left: 10px;
}

/* Стили для кнопок в редакторе */
.editor-buttons {
    margin: 10px 0;
}

/* Общие стили для кнопок */
.editor-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #00ff00; /* Зеленый фон */
    color: black; /* Черный текст для контраста */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

/* Стили для кнопок при наведении */
.editor-buttons button:hover {
    background-color: #00cc00; /* Темно-зеленый цвет при наведении */
    transform: scale(1.05); /* Эффект увеличения */
}

/* Параметры для editor */
.editor {
    border: 1px solid #00ff00; /* Зелёная рамка */
    border-radius: 8px; /* Скругленные углы */
}
